
.mat-card-title{
    font-size:10px;
    color:#666666;
    text-transform: uppercase;
}
.mat-card {
    font-size:18px;
    line-height:24px;
    color: #333333;
}
.mat-table, .mat-cell, .mat-footer-cell {
    color:#333333;
}
.mat-button.mat-primary {
    background-color: #b34436;
    color:#fff;
}