.presentation-limit-width {

    max-width: 1170px;
    margin: 0 auto;
    position: relative;

}

.presentation-title {
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.presentation-table {

    display: table;
    width: 100%;
    position: relative;

}

.presentation-table .presentation-row {
    position: relative;
}

.presentation-row {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

.presentation-table-items .presentation-column-title {
    text-align: right;
    width: 13rem;
    white-space: nowrap;
}

.presentation-table-items .presentation-column {
    vertical-align: top;
    padding: 0.5rem 1rem 2rem;
}

.presentation-table .presentation-column {
    display: table-cell;
    vertical-align: middle;
    position: relative;
}

.presentation-vertline {
    display: inline-block;
    position: absolute;
    left: 50%;
    height: 100%;
    min-height: 10rem;
    margin-left: -1px;
    width: 2px;
    background-color: rgba(255, 255, 255, 0.4);
}