 
 <header class="sidebar-header">
    <div class="row">
      <div class="logo col-md-auto">
        <a [routerLink]="['/about']" class="logo-expanded" alt="Acetronic"><img width="100" src="assets/images/logoArtboard 1@0.5x.png" alt="AceTronic Logo"></a>
      </div>
      <div class="abc">
         put other stuff in here... 
     <!--     <a class="btn btn-primary" (click)="toggle(opened)">
              <i *ngIf="!open" class="material-icons">toggle_off</i>
              <i *ngIf="open" class="material-icons">toggle_on</i>              
          </a>-->
      </div>
    </div>
</header>
<mat-divider></mat-divider>
<div class="row">

    <nav class="navbar navbar-dark bg-faded">
        <ul class="nav navbar-nav">
          <li class="nav-item"
              [routerLinkActive]="['active']">
           
            <mat-divider></mat-divider>
          </li>
          <li class="nav-item pt-4"
              [routerLinkActive]="['active']">
             <a class="nav-link nav-link-head">ATTEND</a>
             <ul>
               <li class="nav-item">
                <a class="nav-link" [routerLink]="['/about']">Why Attend
                </a>
              </li>
               <li class="nav-item">
                 <a class="nav-link"
                [routerLink]="['/about']">Venue &amp; Hours
                </a>
                <mat-divider></mat-divider>
                <a class="nav-link"
                [routerLink]="['/about']">Presentations</a>
                <mat-divider></mat-divider>
                <a class="nav-link"
                [routerLink]="['/about']">Hotel Info</a>
                
                <mat-divider></mat-divider>
                <a class="nav-link"
                [routerLink]="['/about']">Register Now</a>
                
                
                </li>
             </ul>
           
          </li>
          <li class="nav-item pt-4"
          [routerLinkActive]="['active']">
          <a class="nav-link nav-link-head">EXHIBITORS</a>
          <ul>
            <li class="nav-item">
              <a class="nav-link"
             [routerLink]="['/about']">Why Exhibit
             </a>
             <mat-divider></mat-divider>
             <a class="nav-link"
             [routerLink]="['/about']">
             Become and Exhibitor</a>
             <mat-divider></mat-divider>
             <a class="nav-link"
             [routerLink]="['/about']">
             Become a Presenter</a>
             <mat-divider></mat-divider>
             <a class="nav-link"
             [routerLink]="['/exhibitor-portal']">
             Exhibitor Portal</a>
             
             
             </li>
          </ul>
        


          </li>
        
        
        </ul>
      </nav>

    
</div>

