
  .material-icons {
    transition: transform .5s;    
   
  }


  .material-icons:hover { 
    transform: scale(1.8);
    &.animate {
      transform:rotate(90deg);
     -ms-transform:rotate(90deg);
     -webkit-transform:rotate(90deg);
   }
  }