    <mat-sidenav-container class="page-container">
        <mat-sidenav #sidenav mode="side" [(opened)]="open" (openedChange)="openChange()" opened>         
                <app-nav></app-nav>
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="d-flex flex-row-reverse p-3 shadow-sm">                
                <button id="closeButton" class="btn-close" #sidenavButton mat-button color="primary" (click)="sidenav.toggle()">
                   <app-mat-animated-icon start="menu" end="close" colorStart="white" colorEnd="black" [animate]="opened" class="mr-sm-2 md-48 material-icons">menu</app-mat-animated-icon>  
                
                </button>              
          </div>      
         <router-outlet></router-outlet>
      </mat-sidenav-content>
       
    </mat-sidenav-container>
